.a1 {
  background-image: url('../images/a1.jpg');
}
.a2 {
  background-image: url('../images/a2.jpg');
}
.a3 {
  background-image: url('../images/a3.jpg');
}
.a4 {
  background-image: url('../images/a4.jpg');
}
.a5 {
  background-image: url('../images/a5.jpg');
}
.a6 {
  background-image: url('../images/a6.jpg');
}
.a7 {
  background-image: url('../images/a7.jpg');
}
.a8 {
  background-image: url('../images/a8.jpg');
}
.a9 {
  background-image: url('../images/a9.jpg');
}
.image {
  width: 100%;
  height: 300px;
  background-position: 0% 40%;
}
.dark {
  display: block;
  margin-top: -300px;
  width: 100%;
  height: 300px;
  background-color: black;
  opacity: 0.5;
  color: #fff;
  text-align: center;
}
.dark p {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  text-align: left;
}
.sqare {
  margin: 5px;
  width: 9vw;
  height: 9vw;
  background-size: cover;
  cursor: pointer;
}
.items div {
  display: none;
}
body {
  position: relative;
  padding-bottom: 30px;
}
.footer {
  display: block;
  position: fixed;
  height: 20px;
  width: 100%;
  bottom: 0;
  background-position: 0% 90%;
}
